<div class="modal-body composerHelp-modal" style="overflow: visible">
    {{#if loadingTags}}
        {{i18n loading}}
    {{else }}
        <div class="composerHelp-content">
            {{composer-help-content model=this}}
        </div>
    {{/if}}
</div>
