<div class="modal-body composerHelp-modal" style="overflow: visible">
    {{#if loadingTags}}
        {{i18n loading}}
    {{else }}
        <div class="composerHelp-content">
            {{#view Discourse.ComposerHelpContentView model=this}}
                {{{view.parsedContent}}}
            {{/view}}
        </div>
    {{/if}}
</div>
